* {
    font-family: Helvetica;
}

@page {
    margin: 1cm 1cm;
}

body {
    margin-top: 3.5cm;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-bottom: 1cm;
}

header {
    position: fixed;
    top: 0;
    left: 1cm;
    right: 1cm;
    height: 8cm;
}

main {
    position: relative;
}

table {
    width: 100%;
}

table tr td {
    padding: 0.1rem 0.1rem 0.1rem 0.1rem;
    font-size: 12px;
    vertical-align: top;
}

tfoot tr td {
    font-weight: bold;
    font-size: 12px;
}

.text-min {
    font-size: x-small;
    text-align: left !important;
}

.sborder {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: lightgray;
    font-weight: bold;
}

.signature {
    height: 15px;
    vertical-align: bottom;
}

.h2-head {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}

.stylesheet-logo {
    display: inline-block;
    width: 30%;
    height: 3.5cm;
    text-align: center;
}

.stylesheet-letterhead {
    display: inline-block;
    width: 40%;
    height: 3.5cm;
    text-align: center;
    vertical-align: middle;
}

.stylesheet-type {
    display: inline-block;
    width: 30%;
    height: 3.5cm;
    text-align: center;
    vertical-align: text-top;
}

.stylesheet-logo img.img {
    position: absolute;
    top: 1cm;
    left: 0;
}

.text-letterhead {
    line-height: 0.3cm;
    font-size: 15px;
    font-weight: bold;
}

.font-address {
    font-size: 0.7rem;
    font-weight: 300;
}

.mailto {
    font-size: 0.7rem;
    font-weight: 300;
    line-height: 0cm;
}

.font-bars {
    position: absolute;
    top: 2.85cm;
    right: 1cm;
    font-size: 14px;
    font-weight: bold;
    line-height: 0cm;
}

.stylesheet-folio {
    position: absolute;
    right: 2cm;
    top: 0.26cm;
    left: 2cm;
}

.border-none {
    border-bottom: 0;
    border-top: 0;
}

.border-none-last {
    border-top: 0;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.left {
    padding-left: 0.3rem;
}

.right {
    padding-right: 0.5rem;
}

.text-justify {
    text-align: justify !important;
}

.font-weight-light {
    font-weight: lighter;
    font-size: 0.3cm;
}

.font-weight-bold {
    font-weight: bold;
}

.font-size-small {
    font-size: 10px;
}

.font-size-medium {
    font-size: 13px;
}

.float-right {
    float: right;
}

.text-red {
    color: red;
}

.padding {
    padding: 0.1cm;
}

.min-font {
    font-size: 11px;
}

.min-lineheight {
    line-height: 1.7;
}

.description {
    text-align: left;
    vertical-align: top;
}

.max-width {
    width: 60%;
    line-height: 1.5;
}

.width {
    width: 13%;
}

.medium-width {
    width: 10%;
}

.min-width {
    width: 6%;
}

.border-black {
    border-top: 0.5px solid black;
}

.bg-black {
    position: absolute;
    width: 100%;
    height: 1cm;
    top: 1.5cm;
    right: 0cm;
    color: white;
    background-color: black;
}

.bg-ligthgray {
    position: absolute;
    width: 100%;
    height: 1cm;
    top: 1.25cm;
    right: 0cm;
    color: black;
    background-color: lightgray;
}

.bg-gray {
    background-color: lightgray;
    color: black;
}
